[Unit]
Description=shawl user service

[Service]
WorkingDirectory=/opt/shawl4
ExecStart=/usr/bin/python3 main.py -o
user={{ lookup('file', '/var/daaas/primary_user') }}

[Install]
WantedBy=multi-user.target